// COLOR
$color-primary: #72c4ff;
$color-primary-light: lighten($color-primary, 20%);
$color-gray-light-1: #f1f1f1;
$color-gray-dark-1: #525252;
$color-brown: #967368;
$color-white: #fff;
$color-black: #000;

//timetable
$color-changed: #ffb169;
$color-crosschecked: #ff2323;

$break10-width: 2rem;
$break15-width: 3rem;
$break25-width: 5rem;

$dayname-width: 10rem;
$subject-width: 10rem;
//
$item-height: 8rem;

//BREAKPOINTS
$bp-layout-mobile: 800px;