@keyframes siteNavSlideIn {
  0% {
    transform: translateX(-100vw); }
  100% {
    transform: translateX(0); } }

@keyframes siteNavSlideOut {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100vw); } }

@keyframes sidebarBackdropSlideIn {
  0% {
    /*  transform: translateX(-100vw);
        backdrop-filter: none; */
    opacity: 0; }
  100% {
    /* transform: translateX(0);
        backdrop-filter: blur(2px); */
    opacity: 1; } }

@keyframes sidebarBackdropSlideOut {
  0% {
    /* transform: translateX(0);
        backdrop-filter: blur(2px); */
    opacity: 1; }
  100% {
    /* transform: translateX(-100vw);
        backdrop-filter: none; */
    opacity: 0; } }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

html {
  font-size: 62.5%;
  font-family: "PT Sans", sans-serif; }
  @media screen and (max-width: 1500px) {
    html {
      font-size: 58%; } }
  @media screen and (max-width: 1200px) {
    html {
      font-size: 53.5%; } }
  @media screen and (max-width: 900px) {
    html {
      font-size: 49%; } }

.heading-secondary {
  font-size: 300%;
  font-weight: normal; }

.timetable--classic {
  border-top: 2px solid #d8efff;
  width: 121rem;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  align-self: flex-start;
  position: relative; }
  .timetable--classic .heading-secondary {
    text-transform: uppercase;
    font-size: 3rem;
    position: absolute;
    top: -6rem;
    left: 0; }
  .timetable--classic .timetable__day {
    border-right: 2px solid #d8efff;
    border-left: 2px solid #d8efff;
    width: 100%;
    display: flex;
    flex-shrink: 0;
    position: relative; }
    .timetable--classic .timetable__day--axis:not(:first-of-type) {
      margin-top: 8rem;
      border-top: 2px solid #d8efff; }
  .timetable--classic .timetable__dayname {
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: -2rem; }
  .timetable--classic .timetable__dayname-text {
    color: #000;
    font-size: 1.6rem;
    text-transform: uppercase;
    transform: translateX(-50%) rotate(-90deg); }
  .timetable--classic .subject {
    padding: 1rem;
    width: 10rem;
    cursor: pointer;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 2px solid #d8efff;
    transition: all .2s;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
    overflow-wrap: break-word; }
    .timetable--classic .subject.active {
      background-color: #d8efff; }
    .timetable--classic .subject:hover {
      border-bottom: 2px solid #72c4ff; }
    .timetable--classic .subject__symbol {
      text-align: center;
      font-size: 250%; }
    .timetable--classic .subject__teacher {
      color: #967368;
      text-align: center;
      font-size: 1em;
      overflow-wrap: break-word; }
    .timetable--classic .subject__group {
      width: 100%; }
    .timetable--classic .subject__classroom {
      color: #000;
      text-align: center; }
    .timetable--classic .subject__time {
      position: absolute;
      top: -4rem; }
    .timetable--classic .subject__number {
      /*  font-weight: bold; */
      font-size: 1.8rem;
      position: absolute;
      top: -7rem; }
    .timetable--classic .subject--changed {
      border: 1px solid #ffb169;
      position: relative; }
    .timetable--classic .subject--crosschecked {
      border: 1px solid #ff2323; }
      .timetable--classic .subject--crosschecked::after {
        content: "";
        clip-path: polygon(0% 99%, 99% 0%, 100% 0, 100% 1%, 1% 100%, 0% 100%);
        width: 100%;
        height: 100%;
        background-color: red;
        top: 0;
        position: absolute; }
  .timetable--classic .break {
    border-bottom: 2px solid #d8efff;
    position: relative; }
    .timetable--classic .break.active {
      background-color: #d8efff; }
    .timetable--classic .break__text {
      width: 10rem;
      font-size: 0.8em;
      color: #000;
      text-align: center;
      flex-shrink: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%) rotate(-90deg); }
  .timetable--classic .blank {
    border-bottom: 2px solid #d8efff;
    flex-shrink: 0; }
  .timetable--classic .marker {
    height: 1.5rem;
    width: 3rem;
    bottom: 0; }
    .timetable--classic .marker__line {
      display: none; }
    .timetable--classic .marker__triangle {
      height: 1.5rem;
      width: 3rem;
      clip-path: polygon(0 100%, 100% 100%, 50% 0);
      bottom: 0;
      transform: translateY(-2px); }

.timetable--schollis {
  width: calc( ( var(--row-day-count) * var(--day-width) + var(--row-day-count) * var(--day-margin-right) ) * 1rem);
  margin-right: calc((0 - var(--day-margin-right)) * 1rem);
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: visible; }
  .timetable--schollis .heading-secondary {
    text-transform: uppercase;
    position: absolute;
    top: -5rem;
    left: 0; }
  .timetable--schollis .timetable__day {
    width: calc(var(--day-width) * 1rem);
    margin-right: calc(var(--day-margin-right) * 1rem);
    margin-bottom: 10rem;
    padding-left: 2rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    position: relative; }
  .timetable--schollis .timetable__dayname {
    top: -4rem;
    position: absolute;
    font-size: 2rem; }
  .timetable--schollis .subject {
    width: 100% !important;
    border: 2px solid #d8efff;
    padding: 1rem 0rem 1rem 2rem;
    cursor: pointer;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    position: relative; }
    .timetable--schollis .subject.active {
      background-color: #d8efff; }
    .timetable--schollis .subject:hover {
      border-bottom: 2px solid #72c4ff; }
    .timetable--schollis .subject__symbol {
      font-size: 4rem;
      position: relative;
      z-index: 1; }
    .timetable--schollis .subject__group {
      margin-left: 2rem;
      padding-right: 2rem;
      width: 40%;
      display: flex;
      flex-direction: column; }
    .timetable--schollis .subject__number {
      position: absolute;
      left: -2rem; }
    .timetable--schollis .subject__teacher {
      color: #967368;
      font-size: 0.8em;
      overflow-wrap: break-word;
      position: relative;
      z-index: 1; }
    .timetable--schollis .subject__classroom {
      font-size: 0.8em;
      overflow-wrap: break-word;
      position: relative;
      z-index: 1; }
    .timetable--schollis .subject__time {
      margin-left: auto;
      margin-right: 2rem;
      font-size: 0.8em;
      flex-shrink: 0; }
  .timetable--schollis .break {
    margin-right: 2rem;
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #967368; }
  .timetable--schollis .blank {
    display: none; }
  .timetable--schollis .marker {
    height: 3rem;
    width: 100%;
    transform: translateY(-50%); }
    .timetable--schollis .marker__line {
      top: 50%;
      transform: translateY(-50%); }

.marker {
  display: flex;
  align-items: center;
  position: absolute; }
  .marker__triangle {
    background-color: #72c4ff;
    height: 3rem;
    width: 1.5rem;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    position: absolute;
    z-index: 1;
    display: block; }
  .marker__line {
    height: 2px;
    width: calc(var(--day-width) * 1rem - 2rem);
    background: repeating-linear-gradient(90deg, #72c4ff, #72c4ff 0.5rem, transparent 0.5rem, transparent 1rem);
    position: absolute; }

.show-next-btn {
  margin-top: 2rem;
  background-color: #72c4ff;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 2.5rem;
  border: none;
  cursor: pointer;
  transition: all .2s;
  font-size: 1.8rem;
  text-align: center;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  display: block; }
  .show-next-btn:hover {
    background-color: #72c4ff;
    color: #fff;
    transform: translateY(-3px); }

.marks {
  margin-right: 10rem;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  letter-spacing: 1px; }
  .marks__list {
    list-style: none; }
  .marks__mark {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #fff;
    margin-bottom: 1rem;
    min-height: 8rem;
    border: 2px solid #d8efff;
    cursor: pointer;
    transition: all 0.1s;
    font-size: 1.6rem;
    color: #000;
    display: flex;
    align-items: center; }
    .marks__mark:hover {
      box-shadow: inset -3px -3px 3px rgba(216, 239, 255, 0.5);
      border-bottom: 2px solid #72c4ff; }
  .marks__description {
    padding-left: 2rem;
    padding-right: 2rem;
    flex: 0 1 75%; }
  .marks__subject {
    flex: 0 0 20%; }
  .marks__value {
    flex: 0 0 5%; }
  .marks__button-container {
    padding-bottom: 2rem;
    flex-grow: 1; }
  .marks__heading {
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center; }

.messages {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  letter-spacing: 1px; }
  .messages__heading {
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center; }
  .messages__list {
    list-style: none; }
  .messages__message {
    width: 100%;
    min-height: 8rem;
    background-color: white;
    border: 2px solid #d8efff;
    margin-bottom: 1rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    cursor: pointer;
    font-size: 1.6rem;
    color: #000;
    display: flex;
    flex-direction: column; }
    .messages__message:hover {
      box-shadow: inset -3px -3px 3px rgba(216, 239, 255, 0.5);
      border-bottom: 2px solid #72c4ff; }
  .messages__button-container {
    padding-bottom: 2rem;
    flex-grow: 1; }
  .messages__sender {
    color: #967368; }
  .messages__name {
    margin-top: 8px; }

.sidebar {
  background-color: #d8efff;
  font-size: 1.6rem;
  align-self: stretch; }
  .sidebar__backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
    position: fixed;
    top: 9rem; }
    .sidebar__backdrop--hidden {
      display: none; }
    .sidebar__backdrop--visible {
      backdrop-filter: none;
      animation: sidebarBackdropSlideIn .2s; }
      @media screen and (max-width: 800px) {
        .sidebar__backdrop--visible {
          display: block; } }
    .sidebar__backdrop--hiding {
      animation: sidebarBackdropSlideOut .2s; }
      @media screen and (max-width: 800px) {
        .sidebar__backdrop--hiding {
          display: block; } }

.site-nav {
  margin-top: 10rem;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column; }
  @media screen and (max-width: 800px) {
    .site-nav {
      margin-top: 0;
      margin-left: auto;
      padding-bottom: 4rem;
      padding-top: 4rem;
      background-color: #72c4ff;
      width: 100%;
      padding-right: 2rem;
      position: absolute;
      z-index: 1;
      top: 9rem; } }
  @media screen and (max-width: 800px) {
    .site-nav--hidden {
      display: none; } }
  .site-nav--visible {
    animation: siteNavSlideIn .2s; }
  .site-nav--hiding {
    animation: siteNavSlideOut .2s; }
  .site-nav__list {
    width: 100%;
    list-style: none; }
  .site-nav__item {
    background-color: #f1f1f1;
    height: 8rem;
    cursor: pointer;
    text-align: center;
    color: #72c4ff;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media screen and (max-width: 800px) {
      .site-nav__item {
        background-color: transparent;
        height: auto;
        color: #f1f1f1;
        font-size: 2.5rem;
        text-align: right;
        justify-content: flex-end; } }
    .site-nav__item--active {
      background-color: #fff; }
      @media screen and (max-width: 800px) {
        .site-nav__item--active {
          background-color: transparent;
          color: #fff;
          font-weight: bold; } }
    .site-nav__item:not(:last-child) {
      margin-bottom: 2rem; }
      @media screen and (max-width: 800px) {
        .site-nav__item:not(:last-child) {
          margin-bottom: 2.5rem; } }

.toggle-nav-button {
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: auto;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
  display: none;
  position: relative;
  z-index: 1; }
  @media screen and (max-width: 800px) {
    .toggle-nav-button {
      display: flex;
      flex-direction: column; } }
  .toggle-nav-button--hide .toggle-nav-button__line:first-child {
    transform: translateX(0.25rem); }
  .toggle-nav-button--hide .toggle-nav-button__line:last-child {
    transform: translateX(-0.25rem); }
  .toggle-nav-button:hover .toggle-nav-button__line:first-child {
    transform: translateX(0.25rem); }
  .toggle-nav-button:hover .toggle-nav-button__line:last-child {
    transform: translateX(-0.25rem); }
  .toggle-nav-button__line {
    height: 1rem;
    width: 6rem;
    background-color: #fff;
    border-radius: 2px;
    transition: all .2s; }
    .toggle-nav-button__line:not(:last-child) {
      margin-bottom: 1rem; }

.container {
  width: 100%;
  display: flex; }
  @media screen and (max-width: 800px) {
    .container {
      flex-direction: column; } }

.main-area {
  padding-top: 10rem;
  padding-bottom: 10rem;
  padding-left: 5rem;
  padding-right: 5rem;
  flex-basis: 80%;
  flex-shrink: 0;
  transition: filter .2s; }
  @media screen and (max-width: 800px) {
    .main-area {
      margin-top: 10rem;
      padding-left: 3rem;
      padding-right: 3rem; } }
  @media screen and (max-width: 500px) {
    .main-area {
      padding-left: 2rem;
      padding-right: 2rem; } }

.sidebar {
  flex: 0 0 20%; }
  @media screen and (max-width: 800px) {
    .sidebar {
      background-color: #72c4ff;
      width: 100%;
      flex-basis: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: fixed;
      z-index: 10; } }

:root {
  --day-width: 40;
  --day-margin-right: 10;
  --row-day-count: 3; }
  @media screen and (max-width: 1880px) {
    :root {
      --day-width: 35; } }
  @media screen and (max-width: 1700px) {
    :root {
      --day-width: 30;
      --day-margin-right: 5; } }
  @media screen and (max-width: 1300px) {
    :root {
      --day-width: 45;
      --row-day-count: 2; } }
  @media screen and (max-width: 1100px) {
    :root {
      --day-width: 40; } }
  @media screen and (max-width: 1050px) {
    :root {
      --day-width: 35; } }
  @media screen and (max-width: 820px) {
    :root {
      --day-width: 30; } }
  @media screen and (max-width: 800px) {
    :root {
      --day-width: 40; } }
  @media screen and (max-width: 730px) {
    :root {
      --day-width: 35; } }
  @media screen and (max-width: 660px) {
    :root {
      --row-day-count: 1; } }

@media screen and (max-width: 660px) {
  .timetable--schollis {
    width: 100%;
    justify-content: center; } }

@media screen and (max-width: 660px) {
  .timetable--schollis .timetable__day {
    width: 100%;
    margin-right: 0; } }

@media screen and (max-width: 660px) {
  .timetable--schollis .marker__line {
    width: calc(100% - 2rem); } }

.timetable-wrapper {
  padding-left: 3rem;
  padding-top: 7rem;
  width: auto; }
  @media screen and (max-width: 1700px) {
    .timetable-wrapper {
      width: 110rem;
      overflow-x: scroll; } }
  @media screen and (max-width: 1600px) {
    .timetable-wrapper {
      width: 110rem; } }
  @media screen and (max-width: 1500px) {
    .timetable-wrapper {
      width: 100rem; } }
  @media screen and (max-width: 1300px) {
    .timetable-wrapper {
      width: 90rem; } }
  @media screen and (max-width: 1100px) {
    .timetable-wrapper {
      width: 80rem; } }
  @media screen and (max-width: 1000px) {
    .timetable-wrapper {
      width: 70rem; } }
  @media screen and (max-width: 800px) {
    .timetable-wrapper {
      width: 85rem; } }
  @media screen and (max-width: 750px) {
    .timetable-wrapper {
      width: 80rem; } }
  @media screen and (max-width: 700px) {
    .timetable-wrapper {
      width: 75rem; } }
  @media screen and (max-width: 650px) {
    .timetable-wrapper {
      width: 70rem; } }
  @media screen and (max-width: 600px) {
    .timetable-wrapper {
      width: 60rem; } }
  @media screen and (max-width: 520px) {
    .timetable-wrapper {
      width: 50rem; } }
  @media screen and (max-width: 450px) {
    .timetable-wrapper {
      width: 40rem; } }
  @media screen and (max-width: 370px) {
    .timetable-wrapper {
      width: 35rem; } }
  @media screen and (max-width: 320px) {
    .timetable-wrapper {
      width: 30rem; } }

@media screen and (max-width: 1800px) {
  .marks {
    flex-shrink: 1; } }

@media screen and (max-width: 800px) {
  .marks {
    width: 100%;
    margin-bottom: 10rem; } }

@media screen and (max-width: 1800px) {
  .messages {
    flex-shrink: 1; } }

.row {
  min-height: 50rem;
  display: flex; }
  @media screen and (max-width: 800px) {
    .row {
      flex-direction: column; } }
  .row:not(:last-child) {
    margin-bottom: 10rem; }
