.show-next-btn {
    margin-top: 2rem;
    background-color: $color-primary;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem 2.5rem;
    border: none;
    cursor: pointer;
    transition: all .2s;

    font-size: 1.8rem;
    text-align: center;
    color: $color-white;
    font-family: 'PT Sans', sans-serif;

    display: block;

    &:hover {
      background-color: $color-primary;

      color: $color-white;

      transform: translateY(-3px);
    }
}