.sidebar {
  background-color: $color-primary-light;

  font-size: 1.6rem;

  align-self: stretch;

  &__backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba($color-black, .1);

    display: none;

    position: fixed;
    top: 9rem;

    &--hidden {
     display: none;
    }
    &--visible {
      backdrop-filter: none;

      animation: sidebarBackdropSlideIn .2s;

      @media screen and (max-width: $bp-layout-mobile) {
        display: block;
      }
    }
    &--hiding {
      animation: sidebarBackdropSlideOut .2s;

      @media screen and (max-width: $bp-layout-mobile) {
        display: block;
      }
    }
  }
}
